<div id="content">
    <div id="innerContent01">
        <div id="innerContent02">
            <div id="mainContent">
                <h2 class="TitleH2 DarkScheme">
                    @Sitecore.Globalization.Translate.Text("contact")
                </h2>
                <div class="BlockAboutContent01">
                    <p class="AboutIntroParagraph DarkScheme">
                        <strong>@Sitecore.Globalization.Translate.Text("building-bell")</strong>
                    </p>
                </div>
                <div class="HrReplacement HrStyle01">
                    <hr class="Hidden" />
                </div>
                <div class="BoxContact BoxMargin1">
                    <p class="FontTitleBox DarkScheme">
                        <strong>@Sitecore.Globalization.Translate.Text("luxembourg")</strong>
                    </p>
                    <p class="FontSumBox LightScheme TextBold">
                        @Sitecore.Globalization.Translate.Text("luxembourg-address")
                        <br />
                        <strong>Tel.</strong> +12 123 456 789
                    </p>
                </div>
                <div class="BoxContact BoxMargin2">
                    <p class="FontTitleBox DarkScheme">
                        <strong>@Sitecore.Globalization.Translate.Text("belgique")</strong>
                    </p>
                    <p class="FontSumBox LightScheme TextBold">
                        @Sitecore.Globalization.Translate.Text("belgique-address")
                        <br />
                        <strong>Tel.</strong>+ 32 475 800 427
                    </p>
                </div>
                <div class="BoxContact BoxMargin3">
                    <p class="FontTitleBox DarkScheme">
                        <strong>@Sitecore.Globalization.Translate.Text("usa")</strong>
                    </p>
                    <p class="FontSumBox LightScheme TextBold">
                        @Sitecore.Globalization.Translate.Text("usa-address")
                        <br />
                        <strong>Tel.</strong>+1 858 205 7589
                    </p>
                </div>
                <div class="Clr"></div>
                <div class="HrReplacement HrStyle01">
                    <hr class="Hidden" />
                </div>

                <div class="MapContact">
                    <img src="~/Content/images/contact.jpg" alt="Map contact" />
                </div>
            </div>
        </div>
    </div>
</div>