@model dynamic
@using SitecoreCaseStudy.Models;

<div id="navigationBlockHome">
    <ul id="mainNav">
        @foreach (Navigation navigation in Model.Navigations)
        {
            <li class="@navigation.ActiveClass"><a href="@navigation.NavigationLink" title="@navigation.NavigationTitle">@navigation.NavigationTitle</a></li>
        }
    </ul>
    <ul id="languageSelection">
        @foreach (var language in Model.Languages)
        {
            <li id="@language.Key"><a href="@language.Value" title="@language.Key">@language.Key</a></li>
        }
    </ul>
    <div class="Clr">
    </div>
</div>
<script>
    window.onload = function () {
        var language = '@ViewBag.CurrentLanguage';
        document.getElementById(language).className = "Active";      
    };
</script>