@using PagedList.Mvc;
@using Sitecore.Links;
@model PagedList.IPagedList<SitecoreCaseStudy.Models.Transaction>

<div id="content">
    <div id="innerContent01">
        <div id="innerContent02">
            <div id="mainContent">
                <!-----Change----------->
                <h2 class="PageHeading DarkScheme TitleLeft">Transactions</h2>
                <!-----Change----------->
                <div class="Clr">
                </div>
                @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
                {
                    @Html.Sitecore().FormHandler("Transaction", "TransactionSearch")
                    <table class="FormItem LightScheme Keyword SearchBox01 SearchBox01Transsearch ">
                        <tr>
                            <td><label for="email">Input: </label></td>
                            <td colspan="2">
                                <div class="TextInputWrapper01 TextInputSize01">
                                    <div class="TextInputWrapper02">
                                        <input type="text" name="stringSearch" id="stringSearch" class="TextInput LightScheme" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="FormButtonWrapper01 MarginSearchButton">
                                    <div class="FormButtonWrapper02">
                                        <input class="CommonFormBtn" type="submit" title="Search" value="Search" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                }
                <div class="BlockPageNavigation BlockPageNavigationSpacing01">
                    <div class="CenteringBlock">
                        @Html.PagedListPager(Model, page => LinkManager.GetItemUrl(Sitecore.Context.Item) + "?page=" + page)
                    </div>
                </div>
                <div class="HrReplacement HrStyle02">
                    <hr class="Hidden" />
                </div>
                <div class="ResultsSet">
                    <ul class="ResultsList">
                        @foreach (var transaction in Model)
                        {
                            <li>
                                <div class="BlockPhoto01">
                                    <span class="TopRoundedDecoration">&nbsp;</span>
                                    <a href="@transaction.TransactionDetail" title="View details">@transaction.Image</a>
                                </div>

                                <p class="BlockSearchItemInfo01 LightScheme">
                                    <span>Posted by : Admin</span>
                                    <br />
                                    @transaction.Location
                                    <br />
                                    @transaction.NumberOfBedRooms bedrooms- @transaction.NumberOfBathRooms bathrooms
                                    <br />
                                    @transaction.Area m<sup>2</sup>
                                    <br />
                                    <strong class="DarkScheme">@transaction.FormatedCost &euro;</strong>
                                </p>
                            </li>
                        }
                    </ul>
                </div>
                <div class="HrReplacement HrStyle01">
                    <hr class="Hidden" />
                </div>
                <div class="BlockPageNavigation2 BlockPageNavigationMirror BlockPageNavigationMirrorSpacing01">
                    <div class="CenteringBlock">
                        @Html.PagedListPager(Model, page => LinkManager.GetItemUrl(Sitecore.Context.Item) + "?page=" + page)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>