@using PagedList.Mvc;
@using Sitecore.Links;
@model PagedList.IPagedList<SitecoreCaseStudy.Models.News>

<div id="content">
    <div id="innerContent01">
        <div id="innerContent02">
            <div id="mainContent">
                <!-----Change----------->
                <h2 class="PageHeading DarkScheme TitleLeft">@Sitecore.Globalization.Translate.Text("news-title")</h2>
                <!-----Change----------->
                <div class="Clr">
                </div>
                <div class="HrReplacement HrStyle01 H29">
                    <hr class="Hidden" />
                </div>
                @foreach (var news in Model)
                {
                    <!--News list-->
                    <div class="NewsList ">
                        <a href="@news.NewsDetail" class="ImgNews">@news.Image</a>
                        <div class="NewsText ">
                            <h3 class="H5 FontNews">@news.Title</h3>
                            <h3 class="LightScheme FontNews">@news.Date</h3>
                            <br />
                            <p class="LightScheme FontNews">@news.Summary</p>
                        </div>
                    </div>
                    <div class="Clr">
                    </div>
                }
                <div class="HrReplacement HrStyle01"><hr class="Hidden" /></div>
                <!--Paging-->
                <div class="BlockPageNavigation1 BlockPageNavigationMirror BlockPageNavigationMirrorSpacing01 PaddingNews">
                    <div class="CenteringBlock">
                        @Html.PagedListPager(Model, page => LinkManager.GetItemUrl(Sitecore.Context.Item) + "?page=" + page)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>