@model List<SitecoreCaseStudy.Models.News>

<div id="content">
    <div id="innerContent01">
        <div id="innerContent02">
            <div id="mainContent">
                <!-----Change----------->
                <h2 class="PageHeading DarkScheme TitleLeft">News</h2>
                <!-----Change----------->
                <div class="Clr">
                </div>
                <div class="HrReplacement HrStyle01 H29">
                    <hr class="Hidden" />
                </div>
                @foreach (var news in Model)
                {
                    <!--News list-->
                    <div class="NewsList ">
                        <a href="@news.NewsDetail" class="ImgNews">@news.Image</a>
                        <div class="NewsText ">
                            <h3 class="H5 FontNews">@news.Title</h3>
                            <h3 class="H5 FontNews">@news.Date</h3>
                            <p class="LightScheme FontNews">@news.Summary</p>
                        </div>
                    </div>
                    <div class="Clr">
                    </div>
                }
                <div class="HrReplacement HrStyle01"><hr class="Hidden" /></div>
                <!--Paging-->
                <div class="BlockPageNavigation1 BlockPageNavigationMirror BlockPageNavigationMirrorSpacing01 PaddingNews">
                    <a href="#" title="Prev" class="BackBtn BackBtnSmall"><span>Prev</span></a>

                    <div class="CenteringBlock">
                        <ul class="PagingIndex">
                            <li><a href="#" title="">1</a></li>
                            <li><span>2</span></li>
                            <li><a href="#" title="">3</a></li>
                            <li><a href="#" title="">4</a></li>
                            <li><a href="#" title="">5</a></li>
                            <li><a href="#" title="">...</a></li>
                        </ul>
                    </div>

                    <a href="#" title="Next" class="NextBtn NextBtnSmall"><span>Next</span></a>
                </div>
            </div>
        </div>
    </div>
</div>