@model Sitecore.Security.Accounts.User

@if (Model == null)
{
    <div id="loginBox">
        @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
        {
            @Html.Sitecore().FormHandler("Home", "Login")
            <div id="loginBoxHomeTop">
                <h2> @Sitecore.Globalization.Translate.Text("login")</h2>
                <div class="InputLogin">
                    <!--Login Input-->
                    <fieldset>
                        <legend>
                            Search
                        </legend>
                        <div class="SelectInput">
                            <input class="InputHome LightScheme" type="text" id="userName" name="userName" placeholder="@Sitecore.Globalization.Translate.Text("username")" required/>
                        </div>
                        <div class="SelectInput">
                            <input class="InputHome LightScheme" type="password" id="password" name="password" placeholder="@Sitecore.Globalization.Translate.Text("password")" required/>
                        </div>
                        <p class="ForgotPass">
                            <a href="/ForgotPassword">@Sitecore.Globalization.Translate.Text("forgot-password")</a>
                        </p>
                    </fieldset>
                </div>
            </div>
            <!--Login Fail-->
            <div class="LoginBoxHomeHidden PaddingHiddenHome">
                <div class="LoginButtonLeft">
					<div class="LoginButtonRight">
						<input type="button" value="@Sitecore.Globalization.Translate.Text("register")" class="CommonFormBtn LoginButton" onclick="location.href='/Register'" />
					</div>
    			</div>
                <div class="LoginButtonLeft">
                    <div class="LoginButtonRight">
                        <input type="submit" value="@Sitecore.Globalization.Translate.Text("login")" class="CommonFormBtn LoginButton" />
                    </div>
                </div>
                <div class="Clr"></div>
                <label>
                    @ViewBag.PasswordChanged
                </label>
                <label>
                    @ViewBag.LoginFailMessage
                </label>
            </div>
        }
    </div>
}
else
{
    <div id="loginBox">
        @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName))
        {
            @Html.Sitecore().FormHandler("Home", "Logout")
            <div id="loginBoxSuccess">
                <h3>
                    @Sitecore.Globalization.Translate.Text("logged")
                </h3>
                <p class="WelcomeText DarkScheme">
                    @Sitecore.Globalization.Translate.Text("welcome") <a href="" class="DarkScheme">@Model.Profile.FullName</a> !
                </p>
                <!--Change-->
                <div class="LogoutButtonLeft">
                    <div class="LogoutButtonRight">
                        <input type="submit" value="@Sitecore.Globalization.Translate.Text("logout")" class="CommonFormBtn LogoutButton" />
                    </div>
                </div>
                <!--Change-->
            </div>
        }
    </div>
}